<h3>Latest Todos</h3>
<div class="grid grid-pad">
  <a *ngFor="let todo of todoList" class="col-1-4"
      routerLink ="/detail/{{todo.id}}">
    <div class="module hero">
      <h4>{{todo.name}}</h4>
    </div>
  </a>
</div>